* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  justify-content: center;
}

.menu {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  width: 900px;
  /* border: 1px solid #fff;  */
}

.links {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid #fff;   */
}

.login {
  margin-left: 20px;
}